@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('TTLakesCompressed-Regular.eot');
    src: local('TT Lakes Compressed Regular'), local('TTLakesCompressed-Regular'),
        url('TTLakesCompressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCompressed-Regular.woff') format('woff'),
        url('TTLakesCompressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Medium.eot');
    src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
        url('TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Medium.woff') format('woff'),
        url('TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Bold.eot');
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Bold.woff') format('woff'),
        url('TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body {
    font-family: 'TT Lakes Condensed', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
ul , ol ,a{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header {
   
    
}
.header__container { 
    display: flex;
    
    padding: 0px 24px ;
    align-items: center;
    width: 100%;
    height: 88px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
    justify-content: space-between;
}
.header__burger {
    width: 40px;
    height: 40px;
}
.header__logo{
    padding-left: 20px;
     flex: 1 1 auto;
}
.header__logo_image {
    width: 96px;
    height: 50px;
    
   

}

.header_menu {
}
.menu__items {
    display: none;
}
.menu__item {
    width: 40px;
    height: 40px;
}

.header__button_items {
    display: flex;
    gap: 16px;
    
    
}
.header__button_items::before{
       content: '';
    display: inline-block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    margin-top: 4px;
    border-radius: 1px;
    top: 28px;
}

.header__nav {
    display: none;
}
body{
    background-color:#F8F8F8;
}
.block__title{
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-style: 28px;
    line-height: 40px;
    top: 112px;
    }
.block__title::before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 40px;
    top: 112px;
    border-radius: 0px 80px 80px 0px;
    background-color: #41F6D7;
    

}

.nav__menu{
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    margin-top: 24px;
    margin-left: 16px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}
.nav__menu__item{
    font-family: 'TT Lakes Condensed';
    font-weight: 500;
    font-style: 16px;
    line-height: 24px;
    color: #7e7e82;
}



@media(min-width: 768px) {
    .header__container {
        padding: 24px;
        display: flex;
        justify-content:space-between ;
        box-sizing: border-box;
        
        
    }
    .header__logo{
        width: 440px;
    }
    .header__logo_image{
       top: 18px;
       margin-left:px;
       flex: 1 1 auto;
        
    }
    .header__logo_image::before{
        content: '';
        display: inline-block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        top: 28px;
        
        
    }
    
    .menu__items {
        display: flex;
        gap: 32px;
    }
    .header__nav {
        display: none;
    }
    .menu__items {
      display: flex;
      gap: 16px;
 }
}