@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('TTLakesCompressed-Regular.eot');
    src: local('TT Lakes Compressed Regular'), local('TTLakesCompressed-Regular'),
        url('TTLakesCompressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCompressed-Regular.woff') format('woff'),
        url('TTLakesCompressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Medium.eot');
    src: local('TT Lakes Condensed Medium'), local('TTLakesCondensed-Medium'),
        url('TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Medium.woff') format('woff'),
        url('TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Bold.eot');
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Bold.woff') format('woff'),
        url('TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body {
    font-family: 'TT Lakes Condensed', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
ul , ol ,a{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header {
   
    
}
.header__container { 
    display: flex;
    
    padding: 0px 24px ;
    align-items: center;
    width: 100%;
    height: 88px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
    justify-content: space-between;
}
.header__burger {
    width: 40px;
    height: 40px;
}
.header__logo{
    padding-left: 20px;
     flex: 1 1 auto;
}
.header__logo_image {
    width: 96px;
    height: 50px;
    
   

}

.header_menu {
}
.menu__items {
    display: none;
}
.menu__item {
    width: 40px;
    height: 40px;
}

.header__button_items {
    display: flex;
    gap: 16px;
    
    
}
.header__button_items::before{
       content: '';
    display: inline-block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    margin-top: 4px;
    border-radius: 1px;
    top: 28px;
}

.header__nav {
    display: none;
}
body{
    background-color:#F8F8F8;
}
.header__nav__menu{
    display: none;
}
.block__title{
    
    font-weight: 700;
    font-style: 28px;
    line-height: 40px;
    margin-top: 24px;
    width: 288px;
    height: 40px;
    font-family: 'TT Lakes Condensed', sans-serif;
    color: #1B1C21;
    }
.block__title::before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 40px;
    top: 112px;
    border-radius: 0px 80px 80px 0px;
    background-color: #41F6D7;
    margin-right: 8px;
    vertical-align: middle;

}

.nav__menu{
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    margin-top: 32px;
    margin-left: 0px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    align-items: center;
    margin-left: -8px;
}
.nav__menu__item{
    font-family: 'TT Lakes Condensed';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7e7e82;
    padding: 8px 16px;
    
    
}
.nav__menu__item:focus{
    display: inline-block;
    border: 2px solid #B8FFEC;
    background-color:#FFFFFF;
    border-radius: 6px;
    
   

}
.none1{
    display: none;
   
}
.block__content{
    display: flex;
    flex-direction: column;
}
.block__content_text{
    font-family: 'TT Lakes Compressed', sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-top: 24px;
    margin-left: 16px;
    width: 288px;
    height: 90px;
    
}
.text2{
    display: none;
}
.text3{
    display: none;
}
.block__details__summary{
    font-family: 'TT Lakes Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    list-style: none;
    margin-top: -4px;
    
    cursor: pointer;
}
.block__details__summary::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-image: url('./expand.png');
    background-size: cover;
    vertical-align: middle;
    margin-left: -6px;
    
    
}
.block__image_img{
    width: 320px;
    height: 176px;
    margin-top: 56px;

}


@media(min-width: 768px) {
    .header__container {
        padding: 24px;
        display: flex;
        justify-content:space-between ;
        box-sizing: border-box;
        
        
    }
    .header__logo{
        width: 400px;
    }
    .header__logo_image{
       top: 18px;
       margin-left:px;
       flex: 1 1 auto;
        
    }
    .header__logo::before{
        content: '';
        display: inline-block;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        top: 28px;
        margin-bottom: 10px;
        margin-right: 9px ;
    }
    
    .menu__items {
        display: flex;
        gap: 32px;
    }
    .header__nav {
        display: none;
    }
    .menu__items {
      display: flex;
      gap: 16px;
 }
    .menu__item{
        margin-right: 10px;
    }
    .block__content{
        display: flex;
        flex-direction: row;
        
    }
    .block__content_text{
        width: 312px;
        height: 160px;
     
    }
    .text2{
        display:inline-block ;
        margin-left: -2px;
        margin-top: -0.5px;
        height: 60px;
        
    }
    .block__image_img{
        width: 360px;
        height: 208px;
        border-radius: 5px;
        margin-top: 32px;
        margin-left: 48px;
    }
    .block__details__summary{
        margin-top: -30px;
    }
    .header__nav__menu{
        display: none;
    }
}
@media(min-width: 1120px) {
  .header{
    display: none;
  }
  .block__header{
    display: flex;
    justify-content: space-between;
  }
  .header__nav__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    vertical-align: middle;
    margin-right: 32px;
    
   }
   .block__title{
    
   }
   .block__title::before{
    margin-right: 28px;
   }
    .nav__menu_item>a{
    font-family: 'TT Lakes Condensed';
    text-decoration: none;
    color: #1B1C21;
    
    }
    .nav__menu_item_img{
        width: 40px;
        height: 40px;
        margin-left: 8px;
        vertical-align: middle;
    }
    .text2{
        display: none;
    }
    .text3{
        display: inline-block;
       
        margin-left: -20px;
        margin-top:  -0.1px;
        height: 90px;
    }
    .block__details__summary{
        margin-top: -10px;
    }
    .none1{
        display: inline-block;
        margin-left: 54px;
    }
    .block__content_text{
        margin-left: 32px;
    }
}